body {
  background-image: url(background.jpg);
  background-size: cover;
  background-color: black;
}

body > article {
  box-sizing: border-box;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
}

@media screen and (max-width: 740px) {
  
  h1 {
    font-size: 20px !important;
  }

  body > article {
    padding: 5px;
    margin: 0;
    border-radius: 0px;
    background-color: white;
  }

  body {
    font-size: smaller !important;
    margin: 0 !important;
  }

  .cm-container-block.cm-subnav {
    border-radius: 0;
  }
}

body > footer {
  margin-top: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

body > header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
